<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>

<body>
    <p class="judul">Koleksi Gambar Gore</p>
    <link rel="stylesheet" type="text/css" href="style.css">
    <hr>
    </p>
    <center>
        <table border="1" style="border-collapse: collapse" width="80%" cellpadding="8" bordercolor="black" bgcolor="white">
            <tr>
                <td align="center"><img src="gore1.jpg" height="200" width="500"></td>
                <td align="center"><img src="gore2.jpg" height="200" width="500"></td>
            </tr>
            <tr>
                <td align="center">
                    <font size="4">Gore_1</font>
                </td>
                <td align="center">
                    <font size="4">Gore_2</font>
                </td>
        </table>
        <p></p>
        <table border="1" style="border-collapse: collapse" width="80%" cellpadding="8" bordercolor="black" bgcolor="white">
            <tr>
                <td align="center"><img src="gore3.jpg" height="200" width="500"></td>
                <td align="center"><img src="gore4.jpg" height="200" width="500"></td>
            </tr>
            <tr>
                <td align="center">
                    <font size="4">Gore_3</font>
                </td>
                <td align="center">
                    <font size="4">Gore_4</font>
                </td>
        </table>
        <p class="back"><a href="index.html">Kembali ke Halaman Utama</a></p>
    </center>
</body>

</html>