<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>

<body>
    <link rel="stylesheet" type="text/css" href="style.css">
    <font face="verdana">
        <p align="center">
            <table border="0" cellpadding="8" bordercolor="black">
                <tr>
                    <td class="judul"><b>HUBUNGI SAYA</b>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td class="data">
                        <ul>
                            <li><a href="https://www.facebook.com/fathimatuzzahro.zahro.7">Facebook</a></li>
                            <li><a href="https://www.instagram.com/fzahro.09">Instagram</a></li>
                            <li><a href="https://twitter.com/fzahro032301">Twitter</a></li>
                            <li><a href="#">Telegram</a></li>
                            <li><a href="#">Line</a></li>
                            <li><a href="#">Email</a></li>
                        </ul>
                </tr>
                <tr>
                    <td class="back"><a href="index.html">Kembali ke Halaman Utama</a></td>
                </tr>
</body>

</html>