body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
    color: blue;
}

ul li a {
    color: green;
}

ol li a {
    color: brown;
}

#p1 {
    color: indigo;
}

.p2 {
    color: red;
}